{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Todo Version 3
  </h3>
  <p>
    A simple todo list app - add & delete todos + user accounts + git repository
  </p>
  <p>
    A change to see how git and glitch work
  </p>
</section>